@media only screen and (max-device-width: 700px) {
    /* .menu { width:100%; } */
}
#hero {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    font-weight: 300;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: aliceblue;
}
.hero-title {
    font-size: 3rem;
    font-weight: 650;
    margin-bottom: 3rem;
    text-align: left;
}
.cta-btn {
    display: inline-block;
    position: relative;
    padding: 0.8rem ;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  
}
.btn{
    font-family: cursive,sans-serif ;
}
h4{
    font-size: 20px;
}